.profile__header-button_films {
  font-weight: 500;
}

.movies__else {
  height: 166px;
  margin-top: -20px;
  margin-bottom: -130px;
}

.movies__else-button {
  color: black;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 500;
  width: 320px;
  height: 36px;
  border: 1px solid #e8e8e8;
  border-radius: 6px;
  background-color: white;
  cursor: pointer;
}

.movies__else-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 490px) {
  .movies__else-button  {
    width: 240px;
  }
}