.profile__header-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__header-button_films {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: black;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0 20px 0 0;
}

.profile__header-button {
  text-decoration: none;
}

.profile__header-button_saved-films {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: black;
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  margin: 0 50px 0 0;
}

.profile__header-button_account {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: black;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 15px;
  border: 1px solid #aaaaaa;
  text-decoration: none;
  width: 100px;
  height: 32px;
  margin: 0;
}

.profile__header-logo {
  width: 38px;
  height: 38px;
}

.profile__header-burger {
  width: 44px;
  height: 44px;
  margin: 0;
  display: none;
}

@media screen and (max-width: 890px) {
  .header__logo {
    margin-left: 30px;
  }

  .header__button_login {
    margin-right: 30px;
  }

  .profile__header-buttons {
    display: none;
  }

  .profile__header-burger {
    display: block;
  }
}

@media screen and (max-width: 450px) {
  .header__logo {
    margin-left: 14px;
  }

  .header__button_login {
    margin-right: 24px;
  }
}
